@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Exo 2", "Roboto", "sans-serif";
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
}

#app {
    height: 100vh;
    text-align: center;
}